html {
    font-size: 24px;
}
body {
    margin: 0;
    padding: 0;
    background-color: hsl(185, 41%, 84%);
}
* {
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    transition: .1s background-color ease-in;
}
header {
    display: flex;
    padding: 2rem;
    justify-content: center;
}
.section {
    display: flex;
    justify-content: center;
}
.calculator {
    box-sizing: border-box;
    max-width: 375px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
}
h4 {
    margin: 0 0 .3rem 0;
    font-size: .7rem;
    color: hsl(186, 14%, 43%);
}
input {
    box-sizing: border-box;
    padding: .2rem .7rem; 
    width: 100%;
    background-color: hsl(189, 41%, 97%);
    background-repeat: no-repeat;
    background-position: 5% center;
    text-align: right;
    border: none;
    border-radius: 5px;
    color: hsl(172, 75%, 14%);
}
input::placeholder {
    color:hsl(184, 14%, 56%)
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input:hover,
button:hover {
    cursor: pointer;
}
input:focus,
input:active {
    outline: none;
    border: 2px solid hsl(172, 67%, 45%);
}
#bill-price {
    background-image: url("./images/icon-dollar.svg");
}
#number-of-people {
    background-image: url("./images/icon-person.svg");
}
.bill-container {
    margin-bottom: 1rem;
}
.tip-selection-container {
    margin-bottom: 1rem;
}
.selection-buttons-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
}
.selection-buttons-grid button {
    color: white;
    background-color: hsl(172, 75%, 14%);
    border: none;
    border-radius: 5px;
}
.selection-buttons-grid button:hover {
    background-color: hsl(185, 62%, 75%);
    color: hsl(172, 75%, 14%);
}
button.active {
    background-color:hsl(172, 67%, 45%);
    color: hsl(172, 75%, 14%);
}
#custom-porcent {
    background-color: hsl(189, 41%, 97%);
    color: hsl(172, 75%, 14%);
    font-weight: 600;
}
#custom-porcent::placeholder {
    color:hsl(186, 11%, 38%)
}
.number-of-people-container {
    margin-bottom: 1rem;
}
.totals-container {
    background-color: hsl(172, 75%, 14%);
    padding: 1rem;
    border-radius: 10px;
}
.tip-amount-container,
.total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.totals-container h5 {
    font-size: .7rem;
    color: white;
    margin: 0 0 .1rem 0;
}
.totals-container h6 {
    font-size: .5rem;
    color: hsl(184, 14%, 56%);
    margin: 0;
}
.totals-container p {
    color: hsl(172, 67%, 45%);
    margin: 0;
    font-size: 1.2rem;
}
#reset-btn {
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: .7rem;
    font-weight: 600;
    padding: .3rem;
    color: hsl(172, 75%, 14%);
}
#reset-btn.disabled {
    cursor: auto;
    background-color: hsl(173, 43%, 29%);
}
#reset-btn.activeR {
    background-color: hsl(172, 67%, 45%);
} 
#reset-btn.activeR:focus,
#reset-btn.activeR:hover {
    cursor: pointer;
    background-color: hsl(185, 62%, 75%);
}
.attribution {
    font-size: 1rem;
    text-align: center;
    margin-top: 3rem;
}
.attribution a {
    text-decoration: none;
    color: hsl(172, 100%, 22%);
}
@media (min-width: 1024px) {
    .calculator {
        min-width: 1024px;
        display: flex;
        align-items: center;
    }
    .top-left {
        box-sizing: border-box;
        width: 50%;
        margin-right: 1rem;
    }
    .selection-buttons-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .number-of-people-container {
        margin-bottom: 0;
    }
    .totals-container {
        box-sizing: border-box;
        width: 50%;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}